
<div class="chat-wrap">
    <div class="msg-wrap">
        <div class="msg-header">
            <!-- <h3>{{(msgStore | async)?.receiver?.nickname}}</h3> -->
            <h3>{{(receiver | async)?.nickname}}</h3>
        </div>
        <div class="msg-list">
            <ul>
                <li class="msg" *ngFor="let msg of msgs | async"
                    [class.me]="!msg.sender">
                    <div class="imgs">
                        <img
                        [src]="!msg.sender?'/assets/imgs/me.jpg':msg.sender.avatar"
                        alt="header" class="header">
                    </div>
                    <div class="texts">
                        <div class="time">{{msg.time}}</div>
                        <div class="msg-text">
                            <div class="bubble">{{msg.content}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbar-wrap">
        <ng-button (click)="sendMsg()" class="send-btn primary">发送</ng-button>
    </div>
    <div class="input-wrap">
        <textarea name="msgBox" class="msg-box" cols="30" rows="10" [(ngModel)]="text"></textarea>
    </div>
</div>
